- provide(:current_page, t('contacto.titulo'))
section#content
    .content-wrap
        .container.clearfix
            .col_half
                .fancy-title.title-dotted-border
                    h3 = t('contacto.subtitulo')
                #contact-form-result data-notify-type="success" data-notify-msg="<i class=icon-ok-sign></i> Message Sent Successfully!"
                = simple_form_for :contact_form, url: contact_mail_url, method: 'POST', html: {:id => "template-contact", :class => "form nobottommargin"} do |f| 
                    .form-process
                    .col_half
                        label for="nombre" 
                          = t('contacto.nombre')
                          small *
                        = f.input_field :nombre, class: 'sm-form-control required', required: true, maxlength: '50', id: 'nombre'
                    .col_half.col_last
                        label for="email" 
                          |Email 
                          small *
                        = f.input_field :email, class: 'required email sm-form-control', required: true, maxlength: '255', id: 'email'
                    .clear
                    .col_full
                        label for="asunto"
                          = t('contacto.asunto')
                          small *
                        = f.input_field :asunto, class:'required sm-form-control', required: true, maxlength: '50', id: 'asunto'
                    .clear
                    .col_full
                        label for="template-contactform-message" 
                          = t('contacto.mensaje')
                          small *
                        = f.input_field :mensaje, as: :text, class: 'required sm-form-control', required: true, rows: '6', cols: '30', maxlength: '400', id: 'mensaje' 
                    .col_full
                        = f.button :submit, t('contacto.enviar'), id: 'submit-button', class:'button button-3d nomargin', tabindex:"5" 
              
            .col_half.col_last
                section#google-map.gmap style="height: 410px;"
                = javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyBOMwzO67ohjT5ZdENZvRbvz_xiehstMO4&callback=initMap'
                
                javascript:
                  $(function() {
                    var map;
                    // Creando Latitud y longitud del mapa de Mendoza
                    var latlng = new google.maps.LatLng(-33.0242274, -68.7589029);

                    // Se establecen las corrdenadas del mapa
                    // Opciones del mapa 
                    var options = {
                        //     Centrando el mapa 
                        center: latlng,
                        zoom: 14,
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                    };

                    // Creando el mapa referenciando el div
                    map = new google.maps.Map($('#google-map')[0], options);
                    
                    var marker = new google.maps.Marker({
                        position: new google.maps.LatLng(-33.0242274, -68.7589029),
                        map: map,
                        animation: google.maps.Animation.DROP
                    });
                    
                  });

            .clear
            .row.clear-bottommargin
                .col-md-3.col-sm-6.bottommargin.clearfix
                    .feature-box.fbox-center.fbox-bg.fbox-plain
                        .fbox-icon
                            a target="_blank" href="https://www.google.com.ar/maps/place/Vistandes/@-33.024256,-68.758978,15z/data=!4m2!3m1!1s0x0:0xd6bbd8c3d6f103bc?sa=X&ved=0ahUKEwi0--yh3LvMAhVDS5AKHTdEDFYQ_BIIfzAN" 
                              i.icon-map-marker2
                        h3 
                          = t('contacto.direccion')
                          span.subtitle Urquiza 5517, Maipú, Mendoza <br/> Argentina
                .col-md-3.col-sm-6.bottommargin.clearfix 
                    .feature-box.fbox-center.fbox-bg.fbox-plain
                        .fbox-icon
                            a href="#" 
                              i.icon-phone3
                        h3 
                          = t('contacto.telefonos')
                          span.subtitle +54 261 5246213  <br/> +54 261 5246214  <br/> +54 9 261 2189752 <br/>+54 9 261 4542847
                .col-md-3.col-sm-6.bottommargin.clearfix
                    .feature-box.fbox-center.fbox-bg.fbox-plain
                        .fbox-icon
                            a target="_blank" href="mailto:info@vistandes.com?Subject=Contacto"
                              i.icon-mail
                        h3 
                          = t('contacto.correos')
                          span.subtitle 
                            a target="_blank" href="mailto:info@vistandes.com?Subject=Contacto" info@vistandes.com 
                            a target="_blank" href="mailto:administracion@vistandes.com?Subject=Contacto" administracion@vistandes.com 
                .col-md-3.col-sm-6.bottommargin.clearfix
                    .feature-box.fbox-center.fbox-bg.fbox-plain
                        .fbox-icon
                            a target="_blank" href="https://www.facebook.com/Vistandes"
                              i.icon-facebook
                        h3 
                          = t('contacto.siguenos')
                          span.subtitle 
                            a target="_blank" href="https://www.facebook.com/Vistandes" facebook.com/Vistandes
