- provide(:current_page, t('turismo.titulo'))
section#fincas.section_custom.eventos
  .container
    .title
      h3 = t('turismo.titulo')
    p = t('turismo.descripcion')
    .tab-header
      ul
        li
          a.active href="#tab1" = t('turismo.tour.titulo')
        li
          a href="#tab2" = t('turismo.visitas.titulo')
        li
          a href="#tab3" = t('turismo.eventos.titulo')
    #tab1.tab
      .description.col-md-offset-1.col-md-10
        p = t('turismo.tour.descripcion')
        .fslider.flex-thumb-grid.grid-6.bottommargin-sm data-arrows="false" data-animation="fade" data-thumbs="true"
          .flexslider
            .slider-wrap
              .slide data-thumb=asset_path("eventos/tour/thumb/1.jpg")
                = image_tag "eventos/tour/1.jpg"
              .slide data-thumb=asset_path("eventos/tour/thumb/2.jpg")
                = image_tag "eventos/tour/2.jpg"
              .slide data-thumb=asset_path("eventos/tour/thumb/3.jpg")
                = image_tag "eventos/tour/3.jpg"
              .slide data-thumb=asset_path("eventos/tour/thumb/4.jpg")
                = image_tag "eventos/tour/4.jpg"
              .slide data-thumb=asset_path("eventos/tour/thumb/5.jpg")
                = image_tag "eventos/tour/5.jpg"
              .slide data-thumb=asset_path("eventos/tour/thumb/6.jpg")
                = image_tag "eventos/tour/6.jpg"
                
        p = t('turismo.horario_tit')
        p = t('turismo.horario_dat')
    #tab2.tab.hidden
      .description.col-md-offset-1.col-md-10
        p = t('turismo.visitas.descripcion')
        .fslider.flex-thumb-grid.grid-6.bottommargin-sm data-arrows="false" data-animation="fade" data-thumbs="true"
          .flexslider
            .slider-wrap
              .slide data-thumb=asset_path("eventos/visitas/thumb/1.jpg")
                = image_tag "eventos/visitas/1.jpg"
              .slide data-thumb=asset_path("eventos/visitas/thumb/2.jpg")
                = image_tag "eventos/visitas/2.jpg"
              .slide data-thumb=asset_path("eventos/visitas/thumb/3.jpg")
                = image_tag "eventos/visitas/3.jpg"
              .slide data-thumb=asset_path("eventos/visitas/thumb/4.jpg")
                = image_tag "eventos/visitas/4.jpg"
              .slide data-thumb=asset_path("eventos/visitas/thumb/5.jpg")
                = image_tag "eventos/visitas/5.jpg"
              .slide data-thumb=asset_path("eventos/visitas/thumb/6.jpg")
                = image_tag "eventos/visitas/6.jpg"
                
        p = t('turismo.horario_tit')
        p = t('turismo.horario_dat')

            
    #tab3.tab.hidden
      .description.col-md-offset-1.col-md-10
        p = t('turismo.eventos.descripcion')
        .fslider.flex-thumb-grid.grid-6.bottommargin-sm data-arrows="false" data-animation="fade" data-thumbs="true"
          .flexslider
            .slider-wrap
              .slide data-thumb=asset_path("eventos/eventos/thumb/1.jpg")
                = image_tag "eventos/eventos/1.jpg"
              .slide data-thumb=asset_path("eventos/eventos/thumb/2.jpg")
                = image_tag "eventos/eventos/2.jpg"
              .slide data-thumb=asset_path("eventos/eventos/thumb/3.jpg")
                = image_tag "eventos/eventos/3.jpg"
              .slide data-thumb=asset_path("eventos/eventos/thumb/4.jpg")
                = image_tag "eventos/eventos/4.jpg"
              .slide data-thumb=asset_path("eventos/eventos/thumb/5.jpg")
                = image_tag "eventos/eventos/5.jpg"
              .slide data-thumb=asset_path("eventos/eventos/thumb/6.jpg")
                = image_tag "eventos/eventos/6.jpg"
    .clearfix         
    .col-md-10.col-md-offset-1.btn-container
      a.btn href=contacto_url = t('turismo.contacto')
                
  javascript:
    $(function(){
      $('.tab-header a').click(function(event){
        $('.tab-header .active').removeClass('active');
        $(this).addClass('active');
        
        $('.tab').addClass('hidden');
        $($(this).attr('href')).removeClass('hidden');
        
        SEMICOLON.widget.masonryThumbs();
        event.preventDefault();
      })
    })
