- provide(:current_page, t('fincas.titulo'))
section#fincas.section_custom
  .container
    .title
      h3 = t('fincas.titulo')
    p.col-md-offset-1.col-md-10 
      i = t('fincas.descripcion')
    .clearfix
    .tab-header
      ul
        - @fincas.each_with_index do |finca, i| 
          li 
            a class="#{"active" if i == 0}" href="#tab-#{finca.uid}" = finca.name == 'Hechizo del Plata' ? finca.name + t('fincas.hechizo') : finca.name
  - @fincas.each_with_index do |finca, i|
    div class="tab #{"hidden" unless i == 0}" id="tab-#{finca.uid}"
      .description.col-md-offset-1.col-md-10
        p = finca.description
      .galeria.col_full.clearfix.container-fluid
        .masonry-thumbs.col-5 data-big="2" data-lightbox="gallery"
          - finca.finca_imgs.each do |imgs|
            a href=imgs.image.url data-lightbox="gallery-item"
              = image_tag imgs.image(:medium), class: "image_fade"
    
javascript:
  $(function(){
    $('.tab-header a').click(function(event){
      $('.tab-header .active').removeClass('active');
      $(this).addClass('active');
      
      $('.tab').addClass('hidden');
      $($(this).attr('href')).removeClass('hidden');
      
      SEMICOLON.widget.masonryThumbs();
      event.preventDefault();
    })
  })
