- provide(:current_page, 'finca_single')
- provide(:current_finca, @finca.name)
section#fincas.section_custom
  .container
    .title
      h3 = @finca.name
    div class="tab"
      .description.col-md-offset-1.col-md-10
        p = @finca.description
      .galeria.col_full.clearfix
        .masonry-thumbs.col-5 data-big="2" data-lightbox="gallery"
          - @finca.finca_imgs.each do |imgs|
            a href=imgs.image.url data-lightbox="gallery-item"
              = image_tag imgs.image(:medium), class: "image_fade"
    .end_quote
      blockquote
        p 
          i = t('fincas.descripcion')
    
