- provide(:current_page, t('inicio'))
section#slider.slider-parallax.swiper_wrapper.full-screen.force-full-screen.clearfix
  .swiper-container.swiper-parent
    .swiper-wrapper
      .swiper-slide.dark style="background-image: url('#{asset_path('inicio_1.jpg')}');"
      .swiper-slide style="background-image: url('#{asset_path('inicio_2.jpg')}'); background-position: center top;"
      .swiper-slide.dark style="background-image: url('#{asset_path('inicio_3.jpg')}');"
    #slider-arrow-left
      i.icon-angle-left
    #slider-arrow-right
      i.icon-angle-right
section#edad
  .container
    img src="#{asset_path('logo.png')}" alt="Vistandes Logo"
    h3.text Al ingresar a nuestro sitio, <br/> Usted declara tener la edad legal para consumir bebidas alcohólicas. <br/> <i>(By entering our site you declare to have the legal age to consume alcoholic drinks.)</i>
    button#close_edad 
      h4 SOY MAYOR DE EDAD <br> <i>(I HAVE THE LEGAL AGE)</i>
      
  
javascript:
  $(function(){
    $.fn.extend({
      animateCss: function (animationName, callback) {
        var animationEnd = 'webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend';
        $(this).addClass('animated ' + animationName).one(animationEnd, function() {
          $(this).removeClass('animated ' + animationName);
          typeof callback === 'function' && callback();
        });
      }
    });
    
    $('#close_edad').click(function() {
      $('#edad').animateCss("fadeOutUpBig", function(){ $('#edad').remove(); });
    });
    
    
  
    var swiperSlider = new Swiper('.swiper-parent',{ 
    paginationClickable: false,
      slidesPerView: 1,
      grabCursor: true,
      autoplay: 3000,
      speed: 650,
      loop: true,
      onSwiperCreated: function(swiper){
        $('[data-caption-animate]').each(function(){
          var $toAnimateElement = $(this);
          var toAnimateDelay = $(this).attr('data-caption-delay');
          var toAnimateDelayTime = 0;
          if( toAnimateDelay ) { toAnimateDelayTime = Number( toAnimateDelay ) + 750; } else { toAnimateDelayTime = 750; }
          if( !$toAnimateElement.hasClass('animated') ) {
            $toAnimateElement.addClass('not-animated');
            var elementAnimation = $toAnimateElement.attr('data-caption-animate');
            setTimeout(function() {
              $toAnimateElement.removeClass('not-animated').addClass( elementAnimation + ' animated');
            }, toAnimateDelayTime);
          }
        });
      },
      onSlideChangeStart: function(swiper){
        $('#slide-number-current').html(swiper.activeIndex + 1);
        $('[data-caption-animate]').each(function(){
          var $toAnimateElement = $(this);
          var elementAnimation = $toAnimateElement.attr('data-caption-animate');
          $toAnimateElement.removeClass('animated').removeClass(elementAnimation).addClass('not-animated');
        });
      },
      onSlideChangeEnd: function(swiper){
        $('#slider .swiper-slide').each(function(){
          if($(this).find('video').length > 0) { $(this).find('video').get(0).pause(); }
        });
        $('#slider .swiper-slide:not(".swiper-slide-active")').each(function(){
          if($(this).find('video').length > 0) {
            if($(this).find('video').get(0).currentTime != 0 ) $(this).find('video').get(0).currentTime = 0;
          }
        });
        if( $('#slider .swiper-slide.swiper-slide-active').find('video').length > 0 ) { $('#slider .swiper-slide.swiper-slide-active').find('video').get(0).play(); }

        $('#slider .swiper-slide.swiper-slide-active [data-caption-animate]').each(function(){
          var $toAnimateElement = $(this);
          var toAnimateDelay = $(this).attr('data-caption-delay');
          var toAnimateDelayTime = 0;
          if( toAnimateDelay ) { toAnimateDelayTime = Number( toAnimateDelay ) + 300; } else { toAnimateDelayTime = 300; }
          if( !$toAnimateElement.hasClass('animated') ) {
            $toAnimateElement.addClass('not-animated');
            var elementAnimation = $toAnimateElement.attr('data-caption-animate');
            setTimeout(function() {
              $toAnimateElement.removeClass('not-animated').addClass( elementAnimation + ' animated');
            }, toAnimateDelayTime);
          }
        });
      }
    });

    $('#slider-arrow-left').on('click', function(e){
      e.preventDefault();
      swiperSlider.swipePrev();
    });

    $('#slider-arrow-right').on('click', function(e){
      e.preventDefault();
      swiperSlider.swipeNext();
    });

    $('#slide-number-current').html(swiperSlider.activeIndex + 1);
      
    
  });
