- provide(:current_page, t('quienes_somos.titulo'))
section#quienes.section_custom
  .container
    .title
      h3 = t('quienes_somos.titulo')
    
    .resume.col-md-8.col-md-offset-2
      p = t('quienes_somos.p1')
      p = t('quienes_somos.p2')
      p = t('quienes_somos.p3')
      p = t('quienes_somos.p4')
      p = t('quienes_somos.p5')
