- provide(:current_page, t('vinos.titulo'))
#wine.section_custom
  .container
    .title
      h3 = t('vinos.titulo')
    .col-lg-8.col-lg-offset-2.col-md-12
      p = t('vinos.p1')
      p = t('vinos.p2')
      p = t('vinos.p3')
    .clearfix
    .img-container.full-container
      - @categories.each do |category|
        .col-md-4.col-sm-12.container-img-wine
          a href="#{root_url + category.title}"
            img src=category.image.url
            /h2 = category.title
    .img-container.mobile-container
      .bxslider
        - @categories.each do |category|
          .slide
            a href="#{root_url + category.title}"
              img src=category.image.url
              /h2 = category.title

javascript:
  $(function(){
    $('.bxslider').bxSlider({
      pager: false,
      slideWidth: 200,
      maxSlides: 1,
      moveSlides: 1
    });
  })
