- provide(:current_page, 'vinos_single')
- provide(:current_category, @wines.title)
#wine_single.section_custom
  .container
    .title 
      h3 = @wines.title
    .col-lg-8.col-lg-offset-1.col-md-12
      p = @wines.description
    .clearfix
    .wine-detail
      .list-vinos.col-sm-12.col-md-3
        ul
          - @wines.wines.each_with_index do |wine, i|
            li class="#{"active" if i == 0}" 
              a href="##{wine.title.gsub ' ', '_'}" 
               h4 = wine.title
      .clearfix
      - @wines.wines.each_with_index do |wine, i|
        div id="#{wine.title.gsub ' ', '_'}" class="flex" style="#{ "display: none !important" if i != 0}"
          .col-wine-img.col-xs-8.col-xs-offset-2.col-sm-8.col-sm-offset-2.col-md-3.col-md-offset-0
            = image_tag wine.image.url
          .col-wine-description.col-sm-12.col-md-6.col-xl-4
            .title-wine
              h4
                i = "#{@wines.title}, #{wine.title}"
            .row.row-image
              .col-xs-3.col-sm-3.col-md-4.col-sm-4.col-image
                .icon-1
              .col-xs-9.col-sm-9.col-md-8.col-sm-8.col-border
                .terroir-wine
                  .text-container
                     = wine.description_terroir.html_safe
            .row.row-image
              .col-xs-3.col-sm-3.col-md-4.col-sm-4.col-image
                .icon-2
              .col-xs-9.col-sm-9.col-md-8.col-sm-8.col-border
                .taste-wine
                  .text-container
                    = wine.description_taste.html_safe
            .row.row-image
              .col-xs-3.col-sm-3.col-md-4.col-sm-4.col-image
                .icon-3
              .col-xs-9.col-sm-9.col-md-8.col-sm-8.col-border
                .recommendation-wine
                  .text-container
                    = wine.recommendation.html_safe
  javascript:
    $(function(){
      $('.list-vinos a, .list-vinos-mobile a').click(function(event){
        var w_href = $($(this).attr('href'));
        
        $('.flex').attr('style', 'display:none !important');
        
        $(w_href).css("display", "block").fadeIn(2500);
                
        $('.list-vinos li, .list-vinos-mobile li').removeClass('active');
        $(this).parent().addClass('active');
        
        event.preventDefault();
      })
    })
