h1 Listing fincas

table
  thead
    tr
      th Name
      th Description
      th colspan="3"

  tbody
    - @fincas.each do |finca|
      tr
        td = finca.name
        td = finca.description
        td = link_to 'Show', finca
        td = link_to 'Edit', edit_finca_path(finca)
        td = link_to 'Destroy', finca, data: {:confirm => 'Are you sure?'}, :method => :delete

br

= link_to 'New Finca', new_finca_path
