#content{
  background-color: #111;
  color: white;

  label{
    color: white;
  }

  .subtitle{
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .fancy-title{
    h3{
      background: #111;
      color: white;
    }
  }

  .feature-box, .fbox-icon{
    background-color: #111;
  }

  .feature-box{
    border-color: #333;
    h3{
      color: white;
      span{
        color: #E5E5E5
      }
      a{
        color: #E5E5E5;
        &:hover{
          font-weight: bold;
          top: 1px;
        }
      }
    }
  }

}
