#fincas.eventos{
  .container{
    width: 100% !important;
  }
}

#fincas{
  background-color: #111;
  min-height: 100vh;
  color: white;
  .container{
    width: 80% !important;
  }

  .btn-container{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .btn{
    padding: 10px;
    color: white;
    background-color: #990000;
    float: right;
  }
  .tab-header{
    a{
      color: white;
      &:hover{
        color: #990000;
      }
    }
  }
  .galeria{
    margin-top: 40px;
  }
  .end_quote{
    margin-top: 80px;
    display: flex;

    blockquote{
      margin: 0 auto;

      p{
        font-size: 18px;
        text-align: justify;
      }
    }
  }
}

#fincas{
  .galeria{
    margin-bottom: 0px !important;
    padding-bottom: 40px;
  }
  .title{
    margin-top: 40px;
    h3{
      color: white;
    }
  }
  .tab-header{
    a.active{
      color: #990000;
    }
  }
  .description{
    margin-top: 40px;
    p{
      text-align: center;
    }
  }
}
@media (min-width: 1170px){
  #fincas.eventos{
    .container{
      width: initial !important;
    }
  }
}
