li.mobile{
  display: flex;
  .lang{
    display: flex;
    align-items: center;
    margin: 0 auto;
  }
}
@media (min-width: 992px){
  li.mobile{
    display: none;
  }
  .current::before {
    font-family: 'font-icons';
    content: '\e70b';
    display: inline-block;
    color: #990000;
    position: absolute;
    right: -15px;
    top: 5px;
    -webkit-transition: transform .2s linear;
    -o-transition: transform .2s linear;
    transition: transform .2s linear;
  }
  .current{
    div{
      text-align: right;
    }
  }

  .current::after {
    content: "";
    border-bottom: 1px solid #990000;
    display: block;
    width: 90%;
    float: right;
  }
}
#primary-menu{
  li.current > a{
    color: #990000 !important;
  }
}
#primary-menu-trigger{
  left: 30px !important;
  top: -75px !important;
  i{
    font-size: 30px !important;
    color: white !important;
  }
}

.lang img{
  width: 50px;
  padding: 5px;
}
