#quienes{
  background: image-url("background_2.jpg");
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  color: white;

}

.section_custom{

  .title{
    margin-top: 100px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.6),rgba(255, 255, 255, 0) );
    width: 90%;

    h3{
      padding-left: 15px;
      font-weight: lighter;
      color: white;
      text-shadow: black 2px 2px 3px;
    }
  }

  p{
    font-size: 17px;
    line-height: 25px;
    text-shadow: black 1px 1px 2px;
    text-align: center;
  }

  .tab-header{
    background: linear-gradient(to right, rgba(255, 255, 255, 0.6),rgba(255, 255, 255, 0) );
    display: flex;
    ul{
      list-style: none;
      margin: 0 auto;

      li{
        display: inline-block;
        padding: 0px 30px 0px 30px;
        border-right: 1px solid #990000;
        a{
          color: #444;
          font-size: 20px;
          font-weight: normal;
          &:hover{
            font-weight: bold;
            color: #990000;
          }
          &.current-tab{
            font-weight: normal;
            color: #990000;
          }
        }
        &:last-child{
          border: none;
        }
      }
    }
  }

  @media (min-width: 992px){
    .title{
      width: 30%;
    }
    #quienes{
      .container{
        width: 70% !important;
      }
    }
  }


  .content-tab{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    p{
      font-size: 18px;
    }
    .tab-quienes{
      display: none;
    }

    .show-tab{
      display: block;
    }
  }

}
