#wine{
  margin: 0px !important;
  background-color: #111;
  min-height: 100vh;

  p{
    margin-bottom: 10px;
    text-align: center;

  }
  .container{
    .title{
      margin-top: 40px;
    }
    .bx-wrapper {
      position: relative;
      margin: 0 auto 60px;
      padding: 0;
        .bx-controls-direction a {
          outline: 0;
          text-indent: -9999px;
          z-index: 9999;
          }
    }
    .bx-prev {
      background: image-url('white-mobile-arrow-left.png');
      background-repeat: no-repeat;
      background-position: left;
      cursor: pointer;
      height: 75px;
      left: -60px;
      top: 40%;
      position: absolute;
      width: 37px;
      z-index: 0 !important;
    }

    .bx-next {
      background: image-url('white-mobile-arrow-right.png');
      background-repeat: no-repeat;
      background-position: right;
      cursor: pointer;
      height: 75px;
      right: -60px;
      top: 40%;
      position: absolute;
      width: 37px;
      z-index: 0 !important;
    }
    .full-container{
      display: none;
    }

    .img-container{
      min-height: 100%;
      text-align: center;
      img{
        object-fit: cover;
        min-height: 100%;
        position: relative;
      }
      h2{
        bottom: 105px;
        position: relative;
        color: white;
        /*font-family: 'Quicksand', sans-serif;*/
        font-family: 'Raleway', sans-serif;
        font-weight: 300;
      }
      h2::first-letter{
        color: #990000;
        font-weight: 800;
      }
    }

    @media only screen and (min-width: 768px){
      .mobile-container{
        display: none;
      }

      .full-container{
        display: block;
        padding-top: 40px;
        width: 100%;
      }
    }

    .description{
      padding-top: 40px;
      font-size: 18px;
      color: white;
      min-height: 20vh
    }

    p, h3{
      color: white;
    }
  }
}
