#wine_single{
  min-height: 100vh;
  background-color: #111;
  .container{
    .title{
      margin-top: 40px;
    }
  }
  table{
    width: 100%;
    tr{
      td:first-child{
        text-align: right;
        width: 50%;
      }
      td:last-child{
        text-align: left;
        padding-left: 5px;
      }
    }
  }

  .col-wine-img{
    img{
      object-fit: cover;
      width: 100
    }
  }
  .row-image{
    display: flex;
    margin-bottom: 20px;
    p{
      margin-bottom: 0px;
    }
    .col-border{
      border-left: 1px solid white;
      padding-left: 15px;
    }
    .col-image{
      min-height: 100%;
      max-height: 100%;
      display: flex;
      .icon-1, .icon-2, .icon-3{
        width: 100%;
        min-height: 100%;
      }
      .icon-1{
        background: image-url('icon_vinos_1.png');
        background-position: right;
        background-repeat: no-repeat;
        background-size: 50px;
      }
      .icon-2{
        background: image-url('icon_vinos_2.png');
        background-position: right;
        background-repeat: no-repeat;
        background-size: 50px
      }
      .icon-3{
        background: image-url('icon_vinos_3.png');
        background-position: right;
        background-repeat: no-repeat;
        background-size: 50px;
      }
    }
  }

  p{
    color: white;
  }
  .recommendation-wine{
    h5{
      color: white;
      margin: 0px;
    }
  }

  .list-vinos{
    ul{
      display: flex;
      flex-direction: column;
      list-style: outside none none;
      width: 100%;
      li{
        text-transform: uppercase;
        font-size: 20px;
        a{
          display: flex;
          height: 40px;
          text-align: center;
          z-index: 1;
          h4{
            text-align: center;
            color: white;
            margin: auto;
          }
          &:hover{
            background-color: #990000 !important;
          }
        }
        &.active{
          background-color: #4b0202;
        }
      }
    }
  }
  .title-wine{
    h4{
      text-align: right;
      color: white;
      font-weight: normal;
    }
  }
  @media (min-width: 992px){

    .col-wine-img{
      width: 30%;
      img{
        height: 100%;
        object-fit: cover;
        max-height: 600px;
      }
    }
    .col-wine-description{
      width: 70%;
    }
  }
  @media (min-width: 1170px){
    .col-wine-img{
      img{
        height: 100%;
      }
    }
    .flex{
      display: flex !important;
    }
    .wine-detail{
      display: flex;
    }
    .list-vinos{
      display: flex;
      flex-direction: column;
      align-items: center;
      max-height: 630px;
      ul{
        display: flex;
        flex: 1;
        margin-top: 40px;
        li{
          display: flex;
          flex: 1;
          position: relative;
          border-right: 4px solid #4b0202;
          border-bottom: 1px solid #4b0202;
          border-top: 1px solid #4b0202;
          a{
            position: absolute;
            width: 100%;
            height: 100%;
            h4{

            }
          }
          &:first-child{
            border-bottom: 1px solid #4b0202;
            border-top: 2px solid #4b0202;
          }
          &:last-child{
            border-top: 1px solid #4b0202;
            border-bottom: 2px solid #4b0202;
          }
        }
      }
    }
  }
  @media (min-width: 1500px){
    .col-xl-4{
      width: 48.5%;
    }
  }
}
