section#edad{
  position: fixed;
  background-color: black;
  background: image-url("background_4.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 99;
  h3, h4{
    font-size: 1.4rem;
  }
  .container{
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    img{
      width: 60%;
      border-bottom: 2px solid white;
    }
    h3.text{
      color: white;
      text-align: center;
      margin-top: 40px;
    }
    button{
      padding: 15px 20px;
      border: 2px solid white;
      background-color: transparent;
      h4{
        color: #F4F4F4;
        margin: 0;
      }
      &:hover{
        background-color: white;
        h4{
          color: #333;
        }
      }
    }
  }
}
@media (min-width: 970px){
  section#edad{
    h3{
      font-size: 24px;
    }
    h4{
      font-size: 18px;
    }
  }
}

@media (min-width: 1170px){
  section#edad{
    .container{
      padding-top: 20vh;
      img{
        width: 20%;
      }
    }
  }
}
