/**************************
*
*	GENERAL
*
**************************/

.camera_wrap {
  a, img, ol, ul, li, table, tbody, tfoot, thead, tr, th, td .camera_thumbs_wrap a {
    margin: 0;
    list-style: none;
  }
}

.camera_thumbs_wrap {
  img, ol, ul, li, table, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    list-style: none;
  }
}

.camera_wrap {
  display: none;
  position: relative;
  z-index: 0;
  margin-bottom: 0 !important;

  img {
    max-width: none !important;
  }
}

.camera_fakehover {
  height: 100%;
  min-height: 100px;
  position: relative;
  width: 100%;
  z-index: 1;
}

.camera_wrap {
  width: 100%;
}

.camera_src {
  display: none;
}

.cameraCont, .cameraContents {
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 1;
}

.cameraSlide {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.camera_pie canvas {
  top: 10px !important;
  right: 10px !important;
}

.cameraContent {
  bottom: 0;
  display: none;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.camera_target {
  bottom: 0;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  text-align: left;
  top: 0;
  width: 100%;
  z-index: 0;
}

.camera_overlayer {
  bottom: 0;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 0;
}

.camera_target_content {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;

  .camera_link {
    background: url(../images/blank.gif);
    display: block;
    height: 100%;
    text-decoration: none;
  }
}

.camera_loader {
  background: url(../images/preloader.gif) no-repeat center;
  height: 48px;
  left: 50%;
  overflow: hidden;
  position: absolute;
  margin: -24px 0 0 -24px;
  top: 50%;
  width: 48px;
  z-index: 3;
}

.camera_bar {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 3;
}

.camera_thumbs_wrap {
  &.camera_left .camera_bar, &.camera_right .camera_bar {
    height: 100%;
    position: absolute;
    width: auto;
  }

  &.camera_bottom .camera_bar, &.camera_top .camera_bar {
    height: auto;
    position: absolute;
    width: 100%;
  }
}

.camera_nav_cont {
  height: 65px;
  overflow: hidden;
  position: absolute;
  right: 9px;
  top: 15px;
  width: 120px;
  z-index: 4;
}

.camera_caption {
  bottom: 0;
  display: block;
  position: absolute;
  width: 100%;

  > div {
    padding: 10px 20px;
  }
}

.camerarelative {
  overflow: hidden;
  position: relative;
}

.imgFake {
  cursor: pointer;
}

.camera_prevThumbs {
  bottom: 4px;
  cursor: pointer;
  left: 0;
  position: absolute;
  top: 4px;
  visibility: hidden;
  width: 30px;
  z-index: 10;

  div {
    background: url(../images/camera_skins.png) no-repeat -160px 0;
    display: block;
    height: 40px;
    margin-top: -20px;
    position: absolute;
    top: 50%;
    width: 30px;
  }
}

.camera_nextThumbs {
  bottom: 4px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 4px;
  visibility: hidden;
  width: 30px;
  z-index: 10;

  div {
    background: url(../images/camera_skins.png) no-repeat -190px 0;
    display: block;
    height: 40px;
    margin-top: -20px;
    position: absolute;
    top: 50%;
    width: 30px;
  }
}

.camera_command_wrap {
  .hideNav {
    display: none;
  }

  left: 0;
  position: relative;
  right: 0;
  z-index: 4;
}

.camera_wrap .camera_pag .camera_pag_ul {
  position: absolute;
  right: 20px;
  bottom: 21px;
  z-index: 20;
  list-style: none;
  padding: 0;

  li {
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    width: 10px !important;
    height: 10px !important;
    margin: 0 4px !important;
    position: relative;
    text-align: left;
    text-indent: -9999px;
    border: 1px solid #FFF;
  }
}

.camera_commands_emboss .camera_pag .camera_pag_ul li {
  border: 1px solid #FFF;
}

.camera_wrap .camera_pag .camera_pag_ul li {
  > span {
    display: none;
  }

  &.cameracurrent {
    background: #FFF;
  }
}

.camera_pag_ul {
  li img {
    display: none;
    position: absolute;
  }

  .thumb_arrow {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid;
    top: 0;
    left: 50%;
    margin-left: -4px;
    position: absolute;
  }
}

.camera_commands {
  display: none !important;
  opacity: 0 !important;
  background-image: none;
  right: 76px;
  z-index: 20;

  > {
    .camera_play {
      background: url(../images/icons/play-pause.png) no-repeat -36px 0;
      height: 36px;
      width: 36px;
    }

    .camera_stop {
      background: url(../images/icons/play-pause.png) no-repeat 0 0;
      display: block;
      height: 36px;
      width: 36px;
    }
  }
}

.camera_wrap .camera_pag .camera_pag_ul li {
  cursor: pointer;
  display: inline-block;
  margin: 0 5px;
  position: relative;
  text-indent: -9999px;
}

.camera_thumbs_cont {
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.camera_commands_emboss .camera_thumbs_cont {
  -moz-box-shadow: 0px 1px 0px rgba(255, 255, 255, 1), inset 0px 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 1), inset 0px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 1), inset 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.camera_thumbs_cont {
  > div {
    float: left;
    width: 100%;
  }

  ul {
    overflow: hidden;
    padding: 3px 4px 8px;
    position: relative;
    text-align: center;

    li {
      display: inline;
      padding: 0 4px;

      > img {
        border: 1px solid;
        cursor: pointer;
        margin-top: 5px;
        vertical-align: bottom;
      }
    }
  }
}

.camera_clear {
  display: block;
  clear: both;
}

.showIt {
  display: none;
}

.camera_clear {
  clear: both;
  display: block;
  height: 1px;
  margin: -1px 0 25px;
  position: relative;
}

/**************************
*
*	COLORS & SKINS
*
**************************/

.pattern_1 .camera_overlayer {
  background: url(../images/patterns/overlay1.png) repeat;
}

.pattern_2 .camera_overlayer {
  background: url(../images/patterns/overlay2.png) repeat;
}

.pattern_3 .camera_overlayer {
  background: url(../images/patterns/overlay3.png) repeat;
}

.pattern_4 .camera_overlayer {
  background: url(../images/patterns/overlay4.png) repeat;
}

.pattern_5 .camera_overlayer {
  background: url(../images/patterns/overlay5.png) repeat;
}

.pattern_6 .camera_overlayer {
  background: url(../images/patterns/overlay6.png) repeat;
}

.pattern_7 .camera_overlayer {
  background: url(../images/patterns/overlay7.png) repeat;
}

.pattern_8 .camera_overlayer {
  background: url(../images/patterns/overlay8.png) repeat;
}

.pattern_9 .camera_overlayer {
  background: url(../images/patterns/overlay9.png) repeat;
}

.pattern_10 .camera_overlayer {
  background: url(../images/patterns/overlay10.png) repeat;
}

.camera_wrap .camera_pag .camera_pag_ul li {
  background: transparent;

  &:hover > span {
    background: transparent;
  }

  &.cameracurrent > span {
    background: #434648;
  }
}

.camera_pag_ul {
  li img {
    border: 4px solid #e6e6e6;
    -moz-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
  }

  .thumb_arrow {
    border-top-color: #e6e6e6;
  }
}

.camera_prevThumbs, .camera_nextThumbs {
  background: #d8d8d8;
  background: rgba(216, 216, 216, 0.85);
}

.camera_thumbs_cont {
  background: #d8d8d8;
  background: rgba(216, 216, 216, 0.85);

  ul li > img {
    border-color: 1px solid #000;
  }
}
