/* ----------------------------------------------------------------
    Colors

    Replace the HEX Code with your Desired Color HEX
-----------------------------------------------------------------*/

::selection, ::-moz-selection, ::-webkit-selection {
  background: #990000;
}

a, h1 > span:not(.nocolor), h2 > span:not(.nocolor), h3 > span:not(.nocolor), h4 > span:not(.nocolor), h5 > span:not(.nocolor), h6 > span:not(.nocolor), .header-extras li .he-text span {
  color: #990000;
}

#primary-menu > {
  ul > li {
    &:hover a, &.current a {
      color: #990000;
    }
  }

  div > ul > li {
    &:hover a, &.current a {
      color: #990000;
    }
  }
}

#top-cart a:hover, .top-cart-action span.top-checkout-price, .breadcrumb a:hover, #portfolio-filter li a:hover, .portfolio-desc h3 a:hover, .portfolio-overlay a:hover, #portfolio-navigation a:hover, .entry-title h2 a:hover, .entry-meta li a:hover {
  color: #990000;
}

.post-timeline .entry:hover {
  .entry-timeline, .timeline-divider {
    color: #990000;
  }
}

.ipost .entry-title {
  h3 a:hover, h4 a:hover {
    color: #990000;
  }
}

.spost .entry-title h4 a:hover, .mpost .entry-title h4 a:hover, .comment-content .comment-author a:hover, .product-title h3 a:hover, .single-product .product-title h2 a:hover, .product-price ins, .single-product .product-price {
  color: #990000;
}

.feature-box {
  &.fbox-border .fbox-icon {
    i, img {
      color: #990000;
    }
  }

  &.fbox-plain .fbox-icon {
    i, img {
      color: #990000;
    }
  }
}

.process-steps li {
  &.active h5, &.ui-tabs-active h5 {
    color: #990000;
  }
}

.team-title span, .pricing-box.best-price .pricing-price, .btn-link {
  color: #990000;
}

.dark .post-timeline .entry:hover {
  .entry-timeline, .timeline-divider {
    color: #990000;
  }
}

.color {
  color: #990000 !important;
}

#primary-menu ul {
  ul li:hover > a, li .mega-menu-content.style-2 > ul > li.mega-menu-title > a:hover {
    color: #990000 !important;
  }
}

.top-cart-item-desc a:hover, .faqlist li a:hover, .tagcloud a:hover, .dark .top-cart-item-desc a:hover, .iconlist-color li i {
  color: #990000 !important;
}

.dark.overlay-menu #header-wrap:not(.not-dark) #primary-menu > ul > li {
  &:hover > a, &.current > a {
    color: #990000 !important;
  }
}

.overlay-menu #primary-menu.dark > ul > li {
  &:hover > a, &.current > a {
    color: #990000 !important;
  }
}

.nav-tree li {
  &:hover > a, &.current > a, &.active > a {
    color: #990000 !important;
  }
}

#primary-menu {
  &.style-3 > ul > li.current > a {
    background-color: #990000;
  }

  &.sub-title > {
    ul > li {
      &:hover > a, &.current > a {
        background-color: #990000;
      }
    }

    div > ul > li {
      &:hover > a, &.current > a {
        background-color: #990000;
      }
    }
  }
}

#top-cart > a > span, #page-menu-wrap {
  background-color: #990000;
}

#page-menu.dots-menu nav li {
  &.current a, .dots-menu-caption {
    background-color: #990000;
  }
}

#portfolio-filter li.activeFilter a, #portfolio-shuffle:hover, .entry-link:hover, .sale-flash {
  background-color: #990000;
}

.button {
  &:not(.button-white):not(.button-dark):not(.button-border):not(.button-black):not(.button-red):not(.button-teal):not(.button-yellow):not(.button-green):not(.button-brown):not(.button-aqua):not(.button-purple):not(.button-leaf):not(.button-pink):not(.button-blue):not(.button-dirtygreen):not(.button-amber):not(.button-lime), &.button-dark:hover {
    background-color: #990000;
  }
}

.promo.promo-flat {
  background-color: #990000;
}

.feature-box .fbox-icon {
  i, img {
    background-color: #990000;
  }
}

.fbox-effect.fbox-dark {
  .fbox-icon i:hover, &:hover .fbox-icon i {
    background-color: #990000;
  }
}

.fbox-border.fbox-effect.fbox-dark .fbox-icon i:after, .i-rounded:hover, .i-circled:hover, ul.tab-nav.tab-nav2 li.ui-state-active a, .testimonial .flex-control-nav li a, .skills li .progress, .owl-theme .owl-dots .owl-dot span, #gotoTop:hover {
  background-color: #990000;
}

.dark {
  .button-dark:hover {
    background-color: #990000;
  }

  .fbox-effect.fbox-dark {
    .fbox-icon i:hover, &:hover .fbox-icon i {
      background-color: #990000;
    }
  }

  .fbox-border.fbox-effect.fbox-dark .fbox-icon i:after, .i-rounded:hover, .i-circled:hover, ul.tab-nav.tab-nav2 li.ui-state-active a, .tagcloud a:hover {
    background-color: #990000;
  }
}

.ei-slider-thumbs li.ei-slider-element {
  background-color: #990000;
}

.bgcolor, .button.button-3d:not(.button-white):not(.button-dark):not(.button-border):not(.button-black):not(.button-red):not(.button-teal):not(.button-yellow):not(.button-green):not(.button-brown):not(.button-aqua):not(.button-purple):not(.button-leaf):not(.button-pink):not(.button-blue):not(.button-dirtygreen):not(.button-amber):not(.button-lime):hover {
  background-color: #990000 !important;
}

.process-steps li {
  &.active a, &.ui-tabs-active a {
    background-color: #990000 !important;
  }
}

.sidenav > .ui-tabs-active > a {
  background-color: #990000 !important;

  &:hover {
    background-color: #990000 !important;
  }
}

.owl-theme .owl-controls .owl-nav [class*=owl-]:hover {
  background-color: #990000 !important;
}

.pagination > .active > {
  a, span, a:hover, span:hover, a:focus, span:focus {
    background-color: #990000 !important;
  }
}

#primary-menu.style-4 > ul > li {
  &:hover > a, &.current > a {
    border-color: #990000;
  }
}

.top-cart-item-image:hover {
  border-color: #990000;
}

.post-timeline .entry:hover {
  .entry-timeline, .timeline-divider {
    border-color: #990000;
  }
}

.cart-product-thumbnail img:hover {
  border-color: #990000;
}

.feature-box {
  &.fbox-outline .fbox-icon, &.fbox-border .fbox-icon {
    border-color: #990000;
  }
}

.dark {
  .top-cart-item-image:hover {
    border-color: #990000;
  }

  .post-timeline .entry:hover {
    .entry-timeline, .timeline-divider {
      border-color: #990000;
    }
  }

  .cart-product-thumbnail img:hover {
    border-color: #990000;
  }
}

.heading-block.border-color:after {
  border-color: #990000;
}

.top-links ul {
  ul, div.top-link-section {
    border-top-color: #990000;
  }
}

#primary-menu {
  ul {
    ul, li .mega-menu-content {
      border-top-color: #990000;
    }
  }

  &.style-6 > ul > li {
    > a:after, &.current > a:after {
      border-top-color: #990000;
    }
  }
}

#top-cart .top-cart-content, .fancy-title.title-border-color:before {
  border-top-color: #990000;
}

.dark #primary-menu:not(.not-dark) ul {
  ul, li .mega-menu-content {
    border-top-color: #990000;
  }
}

#primary-menu.dark ul {
  ul, li .mega-menu-content {
    border-top-color: #990000;
  }
}

.dark #primary-menu:not(.not-dark) ul li .mega-menu-content.style-2, #primary-menu.dark ul li .mega-menu-content.style-2, .dark #top-cart .top-cart-content, .tabs.tabs-tb ul.tab-nav li.ui-tabs-active a {
  border-top-color: #990000;
}

#page-menu.dots-menu nav li .dots-menu-caption:after, .title-block {
  border-left-color: #990000;
}

.title-block-right {
  border-right-color: #990000;
}

.fancy-title.title-bottom-border {
  h1, h2, h3, h4, h5, h6 {
    border-bottom-color: #990000;
  }
}

.more-link, .tabs.tabs-bb ul.tab-nav li.ui-tabs-active a {
  border-bottom-color: #990000;
}

.border-color {
  border-color: #990000 !important;
}

.process-steps li {
  &.active a, &.ui-tabs-active a {
    border-color: #990000 !important;
  }
}

.tagcloud a:hover {
  border-color: #990000 !important;
}

.pagination > .active > {
  a, span, a:hover, span:hover, a:focus, span:focus {
    border-color: #990000 !important;
  }
}

.fbox-effect.fbox-dark .fbox-icon i:after, .dark .fbox-effect.fbox-dark .fbox-icon i:after {
  box-shadow: 0 0 0 2px #990000;
}

.fbox-border.fbox-effect.fbox-dark {
  .fbox-icon i:hover, &:hover .fbox-icon i {
    box-shadow: 0 0 0 1px #990000;
  }
}

.dark .fbox-border.fbox-effect.fbox-dark {
  .fbox-icon i:hover, &:hover .fbox-icon i {
    box-shadow: 0 0 0 1px #990000;
  }
}

@media only screen and (max-width: 991px) {
  body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu > {
    ul > li {
      &:hover a, &.current a {
        color: #990000 !important;
      }
    }

    div > ul > li {
      &:hover a, &.current a {
        color: #990000 !important;
      }
    }
  }

  #primary-menu ul {
    ul li:hover > a {
      color: #990000 !important;
    }

    li .mega-menu-content.style-2 > ul > li.mega-menu-title {
      &:hover > a, > a:hover {
        color: #990000 !important;
      }
    }
  }

  #page-menu nav {
    background-color: #990000;
  }
}

@media only screen and (max-width: 767px) {
  #portfolio-filter li a:hover {
    color: #990000;
  }
}
