header#header.no-sticky
  #header-wrap
    #logo.nobottomborder
      a.standard-logo href=root_path data-dark-logo="#{asset_path('logo.png')}"
        img src="#{asset_path('logo.png')}" alt="Vistandes Logo"
      a.retina-logo href=root_path data-dark-logo="#{asset_path('logo.png')}"
        img src="#{asset_path('logo.png')}" alt="Vistandes Logo"
    .container.clearfix
      #primary-menu-trigger
        i.icon-reorder
      nav#primary-menu
        ul
          li
            a href=root_url
              div == t('inicio')
          li
            = link_to content_tag(:div, t('quienes_somos.titulo').upcase), quienes_somos_url
          li.subclass_fincas
            a href=fincas_home_url
              = content_tag(:div, t('fincas.titulo').upcase)
            ul
              -@fincas_head.each do |finca|
                li
                  a href="#{root_url}fincas/#{finca.uid}"
                    div = finca.name
          li.subclass_wines
            a href=vinos_home_url
              div == t('vinos.titulo').upcase 
            ul
              - @categories.each do |category|
                li
                  a href="#{root_url + category.title}"
                    div = category.title
          li
            a href=turismo_y_eventos_url
              div == t('turismo.titulo').upcase 
          li
            a href=contacto_url
              div == t('contacto.titulo').upcase 
          li.mobile
            .lang
              a href="#{root_url}change_locale/en"
                img src="#{asset_path('english.png')}" alt="Language Flag" title="View this site in english"
              a href="#{root_url}change_locale/es"
                img src="#{asset_path('spanish.png')}" alt="Language Flag" title="Ver en español"
            
      div style="display:flex"
        .clearfix.visible-md.visible-lg style="margin: auto"
          a.social-icon.si-small.si-borderless.si-facebook target="_blank" href="https://www.facebook.com/Vistandes/?ref=br_rs&fref=nf" 
            i.icon-facebook
            i.icon-facebook

          a.social-icon.si-small.si-borderless.si-gplus target="_blank" href="https://www.google.com.ar/maps/place/Vistandes/@-33.024256,-68.758978,15z/data=!4m5!3m4!1s0x0:0xd6bbd8c3d6f103bc!8m2!3d-33.024256!4d-68.758978"
            i.icon-map
            i.icon-map

          a.social-icon.si-small.si-borderless.si-twitter target="_blank" href="mailto:info@vistandes.com?Subject=Contacto"
            i.icon-email2
            i.icon-email2
          
          br/
          br/
          .lang
            a href="#{root_url}change_locale/en"
              img src="#{asset_path('english.png')}" alt="Language Flag" title="View this site in english"
            a href="#{root_url}change_locale/es"
              img src="#{asset_path('spanish.png')}" alt="Language Flag" title="Ver en español"
          
