- flash.each do |name, msg|
  - if msg.is_a?(String)

    div id="msg_alert" data-notify-msg="#{msg}" data-notify-type="#{name.to_s == 'notice' ? 'success' : 'error'}" data-notify-close="true"

    javascript:
      $(function(){
        function loadAlert(element){
          toastr.clear();

          var notifyElement = $(element);
          var notifyPosition = notifyElement.attr('data-notify-position');
          var notifyType = notifyElement.attr('data-notify-type');
          var notifyMsg = notifyElement.attr('data-notify-msg');
          var notifyCloseButton = notifyElement.attr('data-notify-close');

          if( !notifyPosition ){
            notifyPosition = 'toast-top-right';
          }else{
            notifyPosition = 'toast-' + notifyElement.attr('data-notify-position');
          }
          if( !notifyMsg ){
            notifyMsg = 'Please set a message!';
          }
          if( notifyCloseButton == 'true' ){
            notifyCloseButton = true;
          }else{
            notifyCloseButton = false;
          }
          toastr.options.positionClass = notifyPosition;
          toastr.options.closeButton = notifyCloseButton;
          toastr.options.closeHtml = '<button type="button" class="close">×</button>';
          if( notifyType == 'warning' ) {
            toastr.warning(notifyMsg);
          } else if( notifyType == 'error' ) {
            toastr.error(notifyMsg);
          } else if( notifyType == 'success' ) {
            toastr.success(notifyMsg);
          } else {
            toastr.info(notifyMsg);
          }
          return false;
        }
        loadAlert($('#msg_alert'));
      });
- flash[:error] = flash[:errors] = flash[:notice] = nil
