doctype html
html
  head
    title Vistandes | Admin
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = javascript_include_tag 'jquery'
    = stylesheet_link_tag "https://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic"  	
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Quicksand' 
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Tangerine'
    
  body.stretched.side-header
    .clearfix.container
      = yield 
    
    = javascript_include_tag 'functions'
  
