doctype html
html
  head
    title Vistandes
    meta http-equiv="content-type" content="text/html; charset=utf-8" /
    meta name="author" content="Gonzalo Grassi" /
    meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" /
    = favicon_link_tag 'favicon.png'
    = csrf_meta_tags
    
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag "https://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic"  	
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Quicksand' 
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Tangerine'
    
    = javascript_include_tag 'jquery'
    = javascript_include_tag 'plugins'
    = javascript_include_tag 'bx-slider'
    = javascript_include_tag 'toastr'
    
  body.stretched.side-header
    = render 'layouts/messages'
    #wrapper.clearfix
      = render 'layouts/header'
      = yield 
    
    = javascript_include_tag 'functions'
  
    javascript:
      $(function(){
        
        var current_page = "#{yield(:current_page)}".toUpperCase().trim();
        var current_category = "#{yield(:current_category)}";
        var current_finca = "#{yield(:current_finca)}"
        
        switch(current_page) {
          case "VINOS_SINGLE":
            $('.subclass_wines>ul').css('display', 'block');
            $('#primary-menu .subclass_wines div').each(function(){
              if($(this).html().trim() === current_category){
                $(this).parent().parent().addClass('current');
                return false;
              }
            });
            break;
          case "FINCA_SINGLE":
            $('.subclass_fincas>ul').css('display', 'block');
            $('#primary-menu .subclass_fincas div').each(function(){
              if($(this).html().trim() === current_finca){
                $(this).parent().parent().addClass('current');
                return false;
              }
            });
            break;
          default:
            $('#primary-menu div').each(function(){
              var st = $(this).html().replace('&nbsp;' , " ").toUpperCase().trim();
              if(st === current_page){
                $(this).parent().parent().addClass('current');
                return false;
              }
            });
        }
        
        function getText($node){
          return $node.toString();
        }        
      });
      
  javascript:
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-79231601-1', 'auto');
    ga('send', 'pageview');
